= turbo_frame_tag @survey_token, class: "w-full" do
  = render "form", survey_token: @survey_token
/ div
/   => link_to "Show this survey token", @survey_token
/   =< link_to "Back to survey tokens", survey_tokens_path
